<?xml version="1.0" encoding="utf-8"?>
<!--
Bu dosya, Web projenizin yayımlama/paket işlemi tarafından kullanılıyor. MSBuild dosyasını düzenleyerek
bu işlemin davranışını düzenleyebilirsiniz. Bununla ilgili daha fazla bilgi edinmek için https://go.microsoft.com/fwlink/?LinkID=208121 adresini ziyaret edin. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f4c6c393-9168-42f7-abb2-9631f246517d/resourceGroups/NetworkWatcherRG/providers/Microsoft.Web/sites/JsonPlaceholderAPı</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <ApiResourceId>/subscriptions/f4c6c393-9168-42f7-abb2-9631f246517d/resourceGroups/NetworkWatcherRG/providers/Microsoft.ApiManagement/service/JsonPlaceholderAPIapi/apis/JsonPlaceholderAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://xn--jsonplaceholderap-svc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c0de4798-193b-4f05-afcb-3a56100215e5</ProjectGuid>
    <MSDeployServiceURL>xn--jsonplaceholderap-svc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JsonPlaceholderAPı</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$xn--jsonplaceholderap-svc</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>